In [2]:
# imports 
import pandas as pd 
import numpy as np

In [3]:
filepath = './Cramers Picks (2016 to 2022) Performance v2.csv' 

raw_df = pd.read_csv(filepath)

In [4]:
# peak at data 
raw_df.head()

,S.No,Company,Ticker,Date,Call,1-Day Change Recommendation,1-Week Change Recommendation,1-Month Change Recommendation,1-Year Change Recommendation,1-Day Change Benchmark,1-Week Change Benchmark,1-Month Change Benchmark,1-Year Change Benchmark
0,1,Lululemon Athletica,LULU,27/3/2018,Positive Mention,2.0%,2.7%,15.4%,95%,-0.4%,1.4%,3%,10%
1,2,Penn National Gaming,PENN,14/7/2020,Buy,10.3%,4.4%,52.5%,100%,-0.2%,1.6%,5%,37%
2,3,Simon Property Group,SPG,13/11/2020,Buy,-1.2%,8.2%,10.6%,121%,0.4%,-1.4%,1%,31%
3,4,PVH Corp,PVH,25/5/2016,Buy,-2.5%,3.8%,-9.4%,13%,0.0%,0.7%,-4%,18%
4,5,Broadcom,AVGO,2/6/2016,Positive Mention,-1.9%,-1.1%,-7.0%,58%,0.0%,-0.1%,0%,18%

In [5]:
# data dimensions  
raw_df.shape

(21654, 13)

In [6]:
raw_df.describe()

             S.No
count  21654.0000
mean   10827.5000
std     6251.1157
min        1.0000
25%     5414.2500
50%    10827.5000
75%    16240.7500
max    21654.0000

In [7]:
# check the values for the Call data field  
raw_df['Call'].value_counts()

Buy                 13062
Negative Mention     3154
Positive Mention     3085
Sell                 2312
Hold                   40
3                       1
Name: Call, dtype: int64

In [8]:
# check the row that had a value of '3' for the Call data field  
raw_df[raw_df['Call'] == '3']

,S.No,Company,Ticker,Date,Call,1-Day Change Recommendation,1-Week Change Recommendation,1-Month Change Recommendation,1-Year Change Recommendation,1-Day Change Benchmark,1-Week Change Benchmark,1-Month Change Benchmark,1-Year Change Benchmark
12159,12160,Commerce Bancshares,CBSH,18/5/2017,3,1.1%,0.2%,6.4%,29%,0.4%,1.4%,3%,17%

In [9]:
# since it is just one row, we're just going to drop it 
raw_df = raw_df[raw_df['Call'] != '3']
raw_df[raw_df['Call'] == '3']

Empty DataFrame
Columns: [S.No, Company, Ticker, Date, Call, 1-Day Change Recommendation, 1-Week Change Recommendation, 1-Month Change Recommendation, 1-Year Change Recommendation, 1-Day Change Benchmark, 1-Week Change Benchmark, 1-Month Change Benchmark, 1-Year Change Benchmark]
Index: []

In [10]:
# check for null values 
raw_df.isnull().sum()

S.No                                0
Company                             0
Ticker                              0
Date                                0
Call                                0
1-Day Change Recommendation        25
1-Week Change Recommendation      106
1-Month Change Recommendation     244
1-Year Change Recommendation     1730
1-Day Change Benchmark            235
1-Week Change Benchmark           235
1-Month Change Benchmark          235
1-Year Change Benchmark           235
dtype: int64

In [11]:
raw_df[raw_df['1-Month Change Recommendation'].isnull()]

,S.No,Company,Ticker,Date,Call,1-Day Change Recommendation,1-Week Change Recommendation,1-Month Change Recommendation,1-Year Change Recommendation,1-Day Change Benchmark,1-Week Change Benchmark,1-Month Change Benchmark,1-Year Change Benchmark
438,439,Time Warner,TWX,12/6/2018,Positive Mention,-2.0%,NaN,NaN,NaN,-0.4%,-0.3%,1%,6%
1818,1819,Silver Run Acquisition,SRAQU,13/9/2016,Sell,-1.3%,1.2%,NaN,NaN,-0.1%,1.8%,0%,20%
2017,2018,Parsley Energy,PE,14/12/2020,Sell,2.3%,-7.3%,NaN,NaN,0.6%,-0.2%,3%,29%
2744,2745,Viacom,VIAB,14/11/2019,Buy,1.3%,2.6%,NaN,NaN,0.2%,-0.3%,0%,0%
2930,2931,Smith & Wesson,SWHC,12/12/2016,Buy,-0.4%,3.3%,NaN,NaN,0.3%,0.0%,0%,19%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21639,21640,Not Available,ENPH,28/11/2022,Positive Mention,-3.0%,2.1%,NaN,NaN,NaN,NaN,NaN,NaN
21640,21641,Not Available,NIO,28/11/2022,Negative Mention,-1.4%,26.1%,NaN,NaN,NaN,NaN,NaN,NaN
21641,21642,Not Available,LCID,28/11/2022,Negative Mention,-2.9%,-11.4%,NaN,NaN,NaN,NaN,NaN,NaN
21642,21643,Not Available,ASML,28/11/2022,Negative Mention,-0.9%,2.5%,NaN,NaN,NaN,NaN,NaN,NaN
21643,21644,Not Available,DY,28/11/2022,Positive Mention,-1.2%,1.1%,NaN,NaN,NaN,NaN,NaN,NaN